<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.11.0" manuallyInstalled="true" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.4" />
  <package id="Microsoft.Extensions.Logging" version="9.0.4" manuallyInstalled="true" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.4" />
  <package id="Microsoft.Extensions.Options" version="9.0.4" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.4" />
  <package id="OSK.Functions.Outputs" version="2.2.0" />
  <package id="OSK.Functions.Outputs.Abstractions" version="2.2.0" />
  <package id="OSK.Functions.Outputs.Logging" version="2.2.0" manuallyInstalled="true" />
  <package id="OSK.Functions.Outputs.Logging.Abstractions" version="2.2.0" />
  <package id="OSK.Hexagonal.Abstractions" version="0.5.0" />
  <package id="OSK.Hexagonal.MetaData" version="1.0.0" />
  <package id="OSK.Inputs" version="0.0.1-beta005" manuallyInstalled="true" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.4" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
</packages>